@{
    ViewBag.Title = "Index";
    BundleTable.Bundles.GetRegisteredBundles().Where(b => b.Path == "~/bundles/jquerydatepickercss").First().Include("~/Content/themes/base/jquery.ui.datepicker.css");
    
}

<h2>Home</h2>
<p>Welcome to Prévu, the UNICEF Advocacy Database!</p>
<p>Use the menu links at the top to get started.</p>

Some settings:
@Html.ActionLink("Staff", "Index", "Staff")
@Html.ActionLink("Departments", "Index", "Department")
@Html.ActionLink("Actor Types", "Index", "ActorType")
